.odd {
    background-color: #eebdc5a7;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#second {
    color: #0e0be9;
    font-size: 36px;
}

#fourth {
    background-color: #69d590;
    font-weight: bold;
}